<h1>Bonjour! Ce message est envoyé par LE MARCHÉ DES LOCATIONS!</h1>

<p>
    Merci de bien vouloir confirmer votre email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmez votre Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt!
</p>
