<footer class="footer">
<hr>
    <div class="container">
        <div  class="footer_top">
           
            <div class="reseaux">
                    <div class="part">
                        <div class="footer_logo">
                            <a href="{{ path('app_accueil')}}"><h1>Le Marché des Locations</h1></a>
                            <img class="" src="/assets/images/2786015.svg" width="100"  alt="logo">
                        </div>
                    </div>
                    <div class="part">
                        <ul class="part_social">
                            <li><p><a href="#"><i class="ion-social-facebook"></i></a></p></li>
                            <li><p><a href="#"><i class="ion-social-twitter"></i></a></p></li>
                            <li><p><a href="#"><i class="ion-social-instagram-outline"></i></a></p></li>
                        </ul>
                    </div>
                

                
                    <div class="part_infos">
                        <h5 class="part_title">Liens utiles</h5>
                        <ul class="part_links">
                            <li><p><a href="#">A propos de nous</a></p></li>
                            <li><p><a href="#">Mentions Légales</a></p></li>
                            <li><p><a href="#">Les événements</a></p></li>
                        </ul>
                    </div>
                
                    <div class="part_contact">
                        <h5 class="widget_title">Contact Info</h5>
                        <ul class="contact_info contact_info_light">
                            <li>
                               
                                <p> 36 Route de Bayonne 64140 Billère</p>
                            </li>
                            <li>
                                
                                <a href="">contact@webnelldev.com</a>
                            </li>
                            <li>
                               
                                <p>+ 33 6 38 70 09 81</p>
                            </li>
                        </ul>
                    </div>
                </div>
           
        </div>
    </div>

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-md-0 text-center text-md-left">© 2022 All Rights Reserved</p>
                </div>
                
            </div>
        </div>
    </div>
</footer>