{% extends 'base.html.twig' %}

{% block title %}Edit Offreslocations{% endblock %}

{% block body %}
    <h1>Edition des Offres de locations</h1>
    <h2>Image 1</h2>

    <h2>Image 2</h2>
    <img src=""
    {{ include('offreslocations/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
